.body {
  width: 100%;
  background-color: black;
}

.recomendados {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
    "juego1 juego2 juego3"
    "juego4 juego5 juego6";
}
